---
import Base from "@/layouts/Base.astro";
import HeroSlider from "@/components/HeroSlider.astro";
import TopAbout from "@/components/TopAbout.astro";
import SectionHeading from "@/components/ui/SectionHeading.astro";
import ImageGallery from "@/components/gallery/ImageGallery.astro";
import { t, toLang, languages, type Lang } from "@/locales/multilingual";
import { topGalleries } from "@/data/topGalleries";
import PdfViewer from "@/components/PdfViewer.astro";

export async function getStaticPaths() {
  // languages に zh を入れていても、将来まだ出したくないならここで絞れる
  const buildLangs = languages.filter((l) => l !== "zh");
  return buildLangs.map((lang) => ({ params: { lang } }));
}

const safeLang: Lang = toLang(Astro.params.lang);
---

<Base lang={safeLang} title={t(safeLang, "site.title")}>
  <!-- HeroSlider S -->
  <HeroSlider lang={safeLang} />
  <!-- Scroll後のコンテンツ S -->
  <section id="home-content" class="l-container">
    <TopAbout lang={safeLang} />
    <!-- Gallery Technology -->
    {
      Object.entries(topGalleries).map(([groupKey, group]) => (
        <section class={`top-gallery top-gallery--${groupKey}`}>
          <SectionHeading
            title={t(safeLang, group.titleKey)}
            subtitle={t(safeLang, group.subTitleKey)}
            align="center"
            as="h2"
          />
          <ImageGallery lang={safeLang} items={group.items} />
        </section>
      ))
    }
  </section>
  <!-- PDFビューワー -->
  <PdfViewer src="/pdf/5axis_laser-2511.pdf" />
  <PdfViewer src="/pdf/technote-tfc-2508.pdf" />
</Base>
